@charset "UTF-8";
/*
    Các folder component và page tổ chức như react component folder
    Trong các file component.scss và page.scss thì import variable
    Trong filder style sẽ import base, components, page, template ...
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
}

.header {
  background-color: black !important;
}

.header_right {
  justify-content: end !important;
  align-items: center !important;
}

.search_header {
  color: white;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: unset;
}

li {
  list-style: none;
}

.menu {
  padding: 16px 0 0;
}
.menu .container {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  padding: 0 30px;
}
.menu .container a {
  display: inline-block;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.5s;
}
.menu .container a:hover {
  opacity: 1;
}
.menu .container a.active {
  opacity: 1;
  position: relative;
}
.menu .container a.active.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  inset: auto auto 0 0;
  background-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: unset;
}

li {
  list-style: none;
}

.footer .footer__part {
  height: 141px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .footer__part.--part-1 {
  background-color: rgb(249, 249, 249);
}
.footer .footer__part.--part-2 {
  background-color: rgb(231, 231, 231);
}
.footer .footer__part .container {
  display: flex;
}
.footer .footer__part .container .footer__item:nth-child(1) {
  padding-left: 50px;
}
.footer .footer__part .container .footer__item {
  flex-basis: 33.3333333333%;
}
.footer .footer__part .container .footer__item.--border {
  border: solid rgb(219, 219, 219);
  border-width: 0 2px 0 2px;
}
.footer .footer__part .container .footer__item h2 {
  font-size: 15px;
  font-weight: 700;
  color: #000;
  margin-bottom: 5px;
  padding-top: 10px;
}
.footer .footer__part .container .footer__item ul {
  padding: 0;
  margin: 0;
}
.footer .footer__part .container .footer__item ul li {
  list-style: none;
  line-height: 20px;
}
.footer .footer__part .container .footer__item ul li a {
  font-size: 12px;
  font-weight: 400;
  color: #000;
}
.footer .footer__part .container .footer__item p {
  font-size: 12px;
  font-weight: 400;
  color: #000;
  margin-bottom: 4px;
}
.footer .footer__part .container .footer__item > a {
  font-size: 12px;
  font-weight: 400;
  color: rgb(200, 80, 79);
}

.p4-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p4-footer .p4-footer_buynow {
  position: relative;
  background-color: #E1B067;
  width: 175px;
  height: 64px;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
}
.p4-footer .p4-footer_buynow .buynow {
  position: absolute;
  left: 33px;
  top: 15px;
}
.p4-footer .p4-footer_price {
  position: relative;
  background-color: #DEDDDC;
  width: 175px;
  height: 64px;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
}
.p4-footer .p4-footer_price .price {
  position: absolute;
  left: 40px;
  top: 15px;
}

.ProductFeature {
  background: linear-gradient(#F21299, #1B02B5);
  width: 698px;
  height: 74px;
  top: 44px;
  left: -4px;
  color: white;
  margin: 20px 0;
}
.ProductFeature .ProductText {
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  padding: 20px;
}

.login {
  width: 442px;
  margin-left: 432px;
  margin-top: 117px;
  margin-bottom: 30px;
}
.login p {
  font-size: 18px;
  font-weight: 500px;
}
.login input {
  width: 100%;
  height: 63px;
  font-size: 18px;
  background-color: rgba(33, 33, 33, 0.08);
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: -10px;
}
.login .Login_padding {
  padding: 0px 10px;
}
.login .password {
  position: relative;
}
.login .password .eye {
  position: absolute;
  right: 30px;
  top: 10px;
  border: none;
}
.login .login_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.login .login_flex .login_register {
  color: #152AEB;
  font-weight: 500;
  size: 18px;
  line-height: 18px;
  margin-left: 170px;
}
.login .login_flex .login_button {
  width: 121px;
  height: 48px;
  border-radius: 50px;
  border: none;
  background-color: #6200EE;
  margin-left: 27px;
  color: white;
}
.login .facebook_button {
  width: 100%;
  height: 63px;
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 21px;
  background-color: #1877F2;
}
.login .facebook_button .facebook_icon {
  position: absolute;
  background-color: #1877F2;
  color: white;
  left: 50px;
  font-size: 40px;
  border-radius: 30px;
}
.login .facebook_button .fb_text {
  color: white;
  text-align: center;
  margin-left: 115px;
}

.register {
  width: 1100px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.register p {
  margin-bottom: 5px;
  text-align: start;
}
.register .input_validation {
  width: 443px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(33, 33, 33, 0.08);
}
.register .register_right {
  position: relative;
}

.ul_radio_button {
  display: flex;
}
.ul_radio_button .radio_button {
  display: flex;
  padding: 35px;
  font-size: 30px;
}

.Submit_register {
  width: 121px;
  height: 48px;
  left: 0px;
  border-radius: 50px;
  border: none;
  background-color: #6200EE;
  color: white;
}/*# sourceMappingURL=styles.css.map */